.env
.env.*
!.env.example
vendor/
node_modules/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.bak
*.bak.*
.idea/
.vscode/
*.log
.DS_Store
